:root {
  /* Color definitions */
  --primary-color: #F6F6F8;
  --primary-color-var1: #f4c095;
  --secondary-color: #1d7874;
  --secondary-color-var1: #00593e;
  --tertiary-color: #071e22;
  --cream-color: #F6F6F8;
  --main-bkg-repeat-1: rgba(255, 200, 200, 0.6);
  --main-bkg-repeat-2: rgba(200, 255, 200, 0.6);
  --main-bkg-repeat-3: rgba(200, 200, 255, 0.6);
}

/* Debugging outlines */
/* * { outline: 1px solid red; } */

body {  
  margin: 0;
  padding: 0 0 50px 0; /* Padding for bottom of page. */
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(180deg, 
    var(--cream-color),
    var(--main-bkg-repeat-1),
    var(--main-bkg-repeat-2),
    var(--main-bkg-repeat-3),
    var(--cream-color));
  background-size: 100% 280vh;
}

.main-body { margin: 80px 180px; }
.no-margin {margin: 0;}
.content-box {margin: 10px 15px;}
.subtle-shadow {box-shadow: 0px 2px 4px rgba(77, 60, 130, 0.2);}