body {
    background: lightgrey;
    margin: 0;
    padding: 0;
    margin:12px;
    padding-bottom: 30px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.section {
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  margin: 0px 30px;
  /* padding-top: 30px;
  padding-bottom: 30px; */
}

.section .content {
  background-color: #C8C8C8;
  border-radius: 7.5px;
  border-color: #C8C8C8;
  padding: 30px 20px;
  /* min-height:20px; */
}

.section .content .abstract {
  background-color: #B7B7B7;
  border-radius: 5px;
  margin: 40px;
  border-color: #B7B7B7;
  padding: 10px;
}

img {
  margin-top:20px;
}

.section h1 {
  /* text-decoration-color: black; */
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight:500;
  padding-top:15px;
}

.section h2 {
  font-size: clamp(1.2rem, 3vw, 2.4rem); /*30px;*/
  font-weight:50;
  display: inline;
}

.section p {
  font-size: clamp(0.8rem, 2vw, 1.6rem); /*20px*/
  font-weight:30;
}

span.date {
  font-size: clamp(0.8rem, 2vw, 1.6rem);
  font-weight:30;
  float:right;

  margin-top:5px;
  /* display:flex;
  justify-content: center;
  align-items: center */
}

p.lowfloat {
  margin: 0px;
  margin-top: 20px;
}

.section .content .column-split {
  display: flex;
}

.section .content .column-split .column {
  padding: 5px;
}

.abstract {
  font-size: clamp(0.8rem, 2vw, 1.6rem);
}

a.div-link {
  display:block;
  height:100%;
  width:100%;
  text-decoration: none;
  color: inherit;
  transition: all 500ms ease;
  margin-bottom: 18px;
}

a.div-link:hover {

  /* background-color: blue;
  color: black; */
}

h2.fade-arrow {
  opacity: 0;
  transition: all 500ms ease;
}

a:hover h2.fade-arrow {
  opacity: 1;
  margin-left: 10px;
}
