.page-intro-container {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.section .content .abstract {
    /* Abstract section of main Masters */
    margin: 10px 15px;
    padding: 10px;
    font-size: 20px;
}
.title-image {
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-right:0;
    border-radius: 50%;
}
.centered-elem {
    text-align: center;
    margin: 0;
}