
.section h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight:500;
    padding-top:15px;
    padding-bottom:5px;
    margin-bottom:0;
}

.section h2 {
    font-size: clamp(1.2rem, 3vw, 2.4rem);
    font-weight:50;
    display: inline;
}

.section p {
    font-size: clamp(0.8rem, 2vw, 1.6rem);
    font-weight:30;
}

.content-date {
    font-size: clamp(0.8rem, 2vw, 1.6rem);
    font-weight:20px;
    font-size: 25px;
    float:right;
}