.topnav {
  /* background-color: var(); */
  background-image: linear-gradient(to bottom right, var(--secondary-color), var(--secondary-color-var1));
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.topnav-text {
  color: white;
  padding: 30px 50px;
  text-decoration: none;
  transition: all 500ms ease;
  font-size: 25px;
  font-weight: bold;
}

.topnav .logo {
  float:left;
  /* 'Shine' things */
  background: linear-gradient(90deg,#0000 33%,rgba(255,255,255,0.1) 50%,#0000 66%);
  background-size: 300% 100%;
}
.topnav .logo:hover {animation: shine 1s;}
@keyframes shine {
  0% {
    background-position: right;    
  }
}

.topnav .topnav-dropdown {
  float:right;
  display: flex;
}

.topnav-dropdown:hover .x3-bar .x3-bar-elements {width:30px;}
.x3-bar-1 {width:25px;} 
.x3-bar-2 {width:20px;} 
.x3-bar-3 {width:30px;} 
.topnav-dropdown:hover .x3-bar .x3-bar-1 {background-image: linear-gradient(0deg, #FF8D00 50%, #E50000 50%);}
.topnav-dropdown:hover .x3-bar .x3-bar-2 {background-image: linear-gradient(0deg, #028121 50%, #FFEE00 50%);}
.topnav-dropdown:hover .x3-bar .x3-bar-3 {background-image: linear-gradient(0deg, #770088 50%, #004CFF 50%);}

.x3-bar .x3-bar-elements {
  margin: 5px;
  height: 4px;
  background-color: white;
  margin: 5px 8px;
  border-radius: 25px;
  transition: all 500ms ease;
}

.dropdown-container {
  position:absolute;
  top:92px;
  right:0;
  background-color: var(--secondary-color-var1);
}
.dropdown-container .dropdown-item {
  width:10em;
  text-decoration: none;
  display:none;
  transition: background-color 500ms ease;
}

.dropdown-container .dropdown-item .dropdown-text {
  margin: 0;
  padding: 5px 0;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 20px;
  transition: color 500ms ease;
}

.dropdown-container .dropdown-item:hover {
  background-color: white;
}
.dropdown-container .dropdown-item:hover .dropdown-text{
  color: black;
}